button:hover .play {
  color: #9b4de0;
}

.line1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* total width */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  display: none;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #ffffff4d;
  border-radius: 8px;
  height: 50px;
}

.scroll::-webkit-scrollbar-thumb {
  visibility: hidden !important;
}

.duration:hover {
  height: 6px;
}

.duration:hover .progressbar {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: -4px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 8px;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  cursor: ew-resize;
  background: #fff;
  box-shadow: -405px 0 0 400px #fff;
  border-radius: 50%;
}

.listMT:hover .icon {
  visibility: inherit;
  background-color: #00000080;
  border-radius: 8px;
}

.menu {
  width: 70px;
  transition: width 0.3s ease-out;
}

.current {
  width: 240px;
  transition: width 0.3s ease-out;
}

.outline-title {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px #fff;
}

.outline-title1 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px #4a90e2;
}

.outline-title2 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px #50e3c2;
}

.outline-title3 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px #e35050;
}

.isActive {
  border-bottom: 3px solid #9b4de0;
  opacity: 1;
}
